version: "3.9"

services:

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    networks:
      - app-network

  api:
    build:
      context: ./FinancialMonitor/FinancialMonitor
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ASPNETCORE_URLS: http://+:8080
      ConnectionStrings__Redis: redis:6379
      ConnectionStrings__DefaultConnection: Data Source=/data/finance.db
    volumes:
      - db-data:/data
    depends_on:
      - redis
    restart: unless-stopped
    networks:
      - app-network

  client:
    build:
      context: ./financial-monitor-client
    ports:
      - "5173:80"
    depends_on:
      - api
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db-data: