services:

  redis:
    image: redis:alpine
    container_name: financial-monitor-redis
    networks:
      - app-network

  api:
    build:
      context: ./FinancialMonitor/FinancialMonitor
    container_name: financialmonitor-api
    ports:
      - "8080:8080"
    environment:
      - ConnectionStrings__Redis=redis:6379
      - ASPNETCORE_URLS=http://+:8080
    volumes:
      - db-data:/app
    depends_on:
      - redis 
    networks:
      - app-network

  client:
    build:
      context: ./financial-monitor-client
    container_name: financialmonitor-client
    ports:
      - "5173:80"
    depends_on:
      - api
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db-data: